  <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span class="mb-3">ORDER</span>
            <span>FEEDBACK</span>
          </div>
          <div class="app-contact">Order Info: Order #12345</div>
          <div class="app-contact">Contact Info: +62 81 314 928 595</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitForm()">
              <!-- Name Field -->
              <div class="app-form-group">
                <input class="app-form-control" placeholder="YOUR NAME" formControlName="name">
              </div>
              <!-- Email Field -->
              <div class="app-form-group">
                <input class="app-form-control" placeholder="YOUR EMAIL" formControlName="email">
              </div>
              <!-- Contact Number Field -->
              <div class="app-form-group">
                <input class="app-form-control" maxlength="10" placeholder="CONTACT NO" formControlName="phone"> 
              </div>
              <!-- Rating Section -->
              <div class="app-form-group">
                <label for="rating" class="rating-label">Rate your Order:</label>
                <div class="rating">
                  <mat-icon *ngFor="let star of starsArray; let i = index" 
                            [ngClass]="{'rated': i < rating}"
                            (click)="setRating(i + 1)">
                    star
                  </mat-icon>
                </div>
              </div>
              <!-- Message Section -->
              <div class="app-form-group message">
                <textarea class="app-form-control" placeholder="YOUR FEEDBACK (Optional)" formControlName="message"></textarea>
              </div>
              <!-- Action Buttons -->
              <div class="app-form-group buttons">
                <button class="app-form-button" type="button" mat-dialog-close (click)="resetForm()">CANCEL</button>
                <button class="app-form-button info-button" type="submit" mat-button mat-dialog-close cdkFocusInitial>SEND FEEDBACK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
